.list_details_page_container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: rgb(233, 218, 195);
    height: 100vh;
}

.list_detail_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 218, 195);
}

.list_name_category_input {
    margin: 16px;
    width: 500px;
    border-radius: 10px;
    height: 56px;
    border-color: #462521;
    color: #462521;
    text-align: center;
}

.add_product_container {
    display: flex;
    justify-content: center;
    background-color: rgb(233, 218, 195);
}

.add_product_input {
    margin: 16px;
    width: 500px;
    border-radius: 10px;
    height: 56px;
    border-color: #462521;
    color: #462521;
    text-align: center;
}

.add_product_button {
    border-radius: 5px;
    width: 100px;
    background-color: rgb(239, 232, 232);
    margin-top: 19px;
    margin-left: 16px;
    border-color: #462521;
    color: #462521;
}

.grocery_list {
    /* display: flex;
    justify-content: space-between; */
    margin: 16px;
    border: 1px solid #462521;
    padding: 16px;
}

img {
    height: 200px;
}

.grocery_item_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grocery_item_text {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    border-color: #462521;
    justify-content: space-between;
}

.item_name {
    color: #462521;
}

.item_count_container {
    display: flex;
}

.item_count {
    display: flex;
    justify-content: flex-end;
    margin-left: 35px;
    width: 75px;
    height: 75px;
    text-align: center;
    border-color: #462521;
}

.count {
    margin-left: 10px;
    color: #462521;
}

.delete_button {
    height: 45px;
    color: #462521;
}

.button_container {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
    height: 55px;
}

.save_list_button {
    width: 450px;
    border-color: #462521;
    color: #462521;
}

.start_shopping_button {
    width: 450px;
    border-color: #462521;
    color: #462521;
}