.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 218, 195);
    height: 100vh;
}

.login_label {
    color:#462521;
}

.login_input {
    border-color: #462521;    
}

.login_button {
    border-color: #462521;
    color:#462521;
}