.navbar_container {
    display: flex;
    border: 2px solid black;
    justify-content: flex-end;
    height: 32px;
    background-color: rgb(244, 239, 239);
}

.navbar {
    display: flex;    
}

.logout_button {
    display: flex;
    height: 15px;
    margin-right: 8px;
    margin-top: 2px;
    color:rgb(7, 69, 7);
}
