.navbar_container {
    display: flex;
    border: 2px solid black;
    justify-content: flex-end;
    height: 32px;
    background-color: rgb(233, 218, 195);
    border-color: #462521;
}

.navbar {
    display: flex;    
}

.logout_button {
    display: flex;
    height: 15px;
    margin-right: 8px;
    margin-top: 2px;
    color:#462521;
    border-color: #462521;
}
