.register_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
}

.register_form {
    display: flex;
    flex-direction: column;
}

.username_container {
    margin: 5px;
}

.username_label {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(222, 211, 211);

}

.username_input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 25px;
    height: 18px;
}

.password_container {
    margin: 5px;
}

.password_label {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(222, 211, 211);
}

.password_input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 28px;
    height: 18px;
}

.email_container {
    margin: 5px;
}

.email_label {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(222, 211, 211);
    
}

.email_input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 25px;
    height: 18px;
    margin-left: 59px;
}

.create_acccount_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_acccount_button {
    color: red
}